<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>

    <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
    <div id="fastcomments-widget"></div>
    <script>
        window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
            tenantId: 'demo', // REPLACE THIS WITH YOUR TENANT ID
            sso: <%- JSON.stringify(ssoConfig) %>, // sso is an *object* - not a string. It may not seem that way here - what we are doing is creating a JSON object in the EJS template from a regular JS object. If you're calling an API, it may look different.
            urlId: '<%= urlId %>'
        });
    </script>
  </body>
</html>
